# Disable directory browsing
Options -Indexes

# ----------------------------------------------------------------------
# Rewrite engine
# ----------------------------------------------------------------------

<IfModule mod_rewrite.c>
    Options +FollowSymlinks
    RewriteEngine On

    # Jika CodeIgniter di dalam subfolder, aktifkan dan sesuaikan baris ini:
    RewriteBase /

    # Redirect Trailing Slashes (menghapus slash di akhir URL)
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Rewrite www ke non-www
    RewriteCond %{HTTPS} !=on
    RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
    RewriteRule ^ http://%1%{REQUEST_URI} [R=301,L]

    # Arahkan semua permintaan ke index.php kecuali file atau direktori fisik
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]

    # Pastikan Authorization header tetap diteruskan
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
</IfModule>

<IfModule !mod_rewrite.c>
    # Jika mod_rewrite tidak tersedia, arahkan semua error ke index.php
    ErrorDocument 404 index.php
</IfModule>

# Nonaktifkan server signature
ServerSignature Off
